In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv("/Dataset of Diabetes  (1).csv")

In [ ]:
df.isnull().sum()

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.compose import ColumnTransformer
le = LabelEncoder()
df['CLASS'] = le.fit_transform(df['CLASS'])
ct=ColumnTransformer(transformers=[("encoder",OneHotEncoder(),[2])],remainder="passthrough")
df

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
1,735,34221,1,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0
2,420,47975,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
3,680,87656,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
4,504,34223,1,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,1,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,3
996,671,876534,1,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,4
997,669,87654,1,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,4
998,99,24004,1,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,4
999,248,24054,1,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,4

Handling missing values for numerical data

In [ ]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(missing_values=np.nan,strategy='mean')
df=pd.DataFrame(si.fit_transform(df))
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,502.0,17975.0,0.0,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
1,735.0,34221.0,1.0,26.0,4.5,62.0,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0.0
2,420.0,47975.0,0.0,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
3,680.0,87656.0,0.0,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
4,504.0,34223.0,1.0,33.0,7.1,46.0,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200.0,454317.0,1.0,71.0,11.0,97.0,7.0,7.5,1.7,1.2,1.8,0.6,30.0,3.0
996,671.0,876534.0,1.0,31.0,3.0,60.0,12.3,4.1,2.2,0.7,2.4,15.4,37.2,4.0
997,669.0,87654.0,1.0,30.0,7.1,81.0,6.7,4.1,1.1,1.2,2.4,8.1,27.4,4.0
998,99.0,24004.0,1.0,38.0,5.8,59.0,6.7,5.3,2.0,1.6,2.9,14.0,40.5,4.0
999,248.0,24054.0,1.0,54.0,5.0,67.0,6.9,3.8,1.7,1.1,3.0,0.7,33.0,4.0

scaling data using StandardScalar

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
df_scaled=pd.DataFrame(sc.fit_transform(df))
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,502.0,17975.0,0.0,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
1,735.0,34221.0,1.0,26.0,4.5,62.0,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0.0
2,420.0,47975.0,0.0,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
3,680.0,87656.0,0.0,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
4,504.0,34223.0,1.0,33.0,7.1,46.0,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200.0,454317.0,1.0,71.0,11.0,97.0,7.0,7.5,1.7,1.2,1.8,0.6,30.0,3.0
996,671.0,876534.0,1.0,31.0,3.0,60.0,12.3,4.1,2.2,0.7,2.4,15.4,37.2,4.0
997,669.0,87654.0,1.0,30.0,7.1,81.0,6.7,4.1,1.1,1.2,2.4,8.1,27.4,4.0
998,99.0,24004.0,1.0,38.0,5.8,59.0,6.7,5.3,2.0,1.6,2.9,14.0,40.5,4.0
999,248.0,24054.0,1.0,54.0,5.0,67.0,6.9,3.8,1.7,1.1,3.0,0.7,33.0,4.0

In [ ]:
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler()
df_scaled=pd.DataFrame(sc.fit_transform(df))
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,502.0,17975.0,0.0,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
1,735.0,34221.0,1.0,26.0,4.5,62.0,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0.0
2,420.0,47975.0,0.0,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
3,680.0,87656.0,0.0,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
4,504.0,34223.0,1.0,33.0,7.1,46.0,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200.0,454317.0,1.0,71.0,11.0,97.0,7.0,7.5,1.7,1.2,1.8,0.6,30.0,3.0
996,671.0,876534.0,1.0,31.0,3.0,60.0,12.3,4.1,2.2,0.7,2.4,15.4,37.2,4.0
997,669.0,87654.0,1.0,30.0,7.1,81.0,6.7,4.1,1.1,1.2,2.4,8.1,27.4,4.0
998,99.0,24004.0,1.0,38.0,5.8,59.0,6.7,5.3,2.0,1.6,2.9,14.0,40.5,4.0
999,248.0,24054.0,1.0,54.0,5.0,67.0,6.9,3.8,1.7,1.1,3.0,0.7,33.0,4.0